:root {
    --warning: #222222;
    --danger: #222222;
    --success: #222222;
    --white: #ffffff;
    --dark: #222222;
    --red: #C0433C;
    --orange: #E79F7F;
    --grey: #C7D0D8;
    --green: #8c8f7f;
}

.btn {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 10px;
}

.btn:hover {
    transform: translateY(-3px)
}

/*button colors*/

.btn--orange--solid {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    
}

.btn--green--solid {
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    
}

.btn--white--solid {
    background-color: var(--white);
    color: var(--dark);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.btn--white--solid--1 {
    background-color: var(--white);
    color: var(--red);
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}

.btn--white--solid--2 {
    background-color: var(--white);
    color: var(--orange);
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}

.btn--white--solid--3 {
    background-color: var(--white);
    color: var(--grey);
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}

.btn--white--solid--4 {
    background-color: var(--white);
    color: var(--green);
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}

.btn--transparent {
    color: black;
    border: none;
    border-radius: 15px;
}


/* Button Sizes */

.btn--medium {
    padding : 10 px 20 px;
    font-size: 18px;
}

.btn--small {
    padding: 15px 30 px;
    font-size: 15px;
    width: 100px;
    height: 37px;
}

.btn--options {
    padding: 15px 30 px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
}

.btn--line {
    padding: 20px 30 px;
    font-size:5px;
    width: 200px;
    height: 37px;
}

.-btn--super--small{
    padding: 15px 30 px;
    font-size: 13px;
    width: 60px;
    height: 20px;

}