.user-container{
    background-color: white;
    width: 320px;
    height: 536px;
    text-align: center;
    justify-content: center;
    color:black
 }

 .user-intro{

 }

.user-title{

} 

.user-form{

}

.user-list{

}

.user-data{

}
