.container-blood {
  background-color: #c0433c;
  text-align: center;
  justify-content: center;
  width: 376px;
  height: 700px;
}

 
.input-options{
  width: 300px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family:'Alegreya Sans SC', sans-serif;
  text-align: center;
  margin: 5px;
}

.title {
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
}

.login-form {
  width: 375px;
  height: 520px;
}

.footer {
  align-content: center;
  text-align: center;
}

.records-container {
  width: 311px;
  height: 230px;
  overflow-y: scroll;
  scroll-behavior: auto;
  padding-top: 0px;
  position: fixed;
  top: 50%;
  justify-content: center;
  padding: 25px;
  border-radius: 15px;
 
}

.ul-container{
    margin: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-left: 0;
    padding-right: 0;   
    margin-bottom: 10px;
    padding-bottom: 10px; 
}

.ul-container>* {
  flex: 1 1 69px;
}


.li-container {
  list-style: none;
  margin: 5px;
  margin-bottom: 50px;
}

