.nav{
    padding: 15px;
    background-color: white;
    color: black;
    align-items: center;
    margin-bottom: 15%;
    margin-top: -5%;
    
    
}

.nav-link{
    color: black;
}
.img{
    size: 10px;
}

